API-KEY= (https://apilayer.com/marketplace/fixer-api?utm_source=apilayermarketplace&utm_medium=featured)
API-KEY-TICKETS= (https://www.alphavantage.co/documentation/#realtime-bulk-quotes Цитата конечная точка)